/* ==============================
    Matrix background effect
   ============================== */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
}
canvas#c {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: -2;
  pointer-events: none;
}

/*
  Matrix toggle button styles
*/

#matrix-toggle img {
  width: 20px;
  height: 20px;
}
